# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# .hugo_build.lock is an empty file for building hugo projects.
.hugo_build.lock

.DS_Store