<head>
    {{ partial "meta.html" . }}
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
        {{ if eq $url "/" }}
        {{ .Site.Title }}
        {{ else }}
        {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
        {{ end }}
    </title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3511724161548652"
        crossorigin="anonymous"></script>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "head_includes.html" . }}
</head>